#map{
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 0px;

}

.geocoder-dropdown-item {
  padding: 3px;
  }
.geocoder-dropdown-text {
    color: #000000;
    font-family:Helvetica;
    font-size: 20px;
}
.geocoder-dropdown-icon {
  margin-right: 10px;
}

.geocoder-icon {
  margin-right: 20px;
}

.mapboxgl-ctrl-geocoder {
  margin-right: 3450px !important;
  width: 1500px !important;
  font-size: 30px!important;
  line-height: 40px!important;
  font-family:Helvetica!important;
  max-width: 360px!important;
}
.mapboxgl-ctrl-pitchtoggle-3d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
}

.mapboxgl-ctrl-pitchtoggle-2d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
}

/* #info {
  position: absolute ;
  top: 0 ;
  width: 100% ;
  height: 300px ;


} */