.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.signPage {
  border-radius: 10px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 84% !important;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 2% !important;
  margin-right: auto !important;
  margin-left: auto !important;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 0%;
}

.top-sign{
  font-size: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  height: 90%;
}
.modal-dialog{
  width: 800px;
  height: 100%;
  }
.modal-content {
  background-color: rgba(255, 255, 255, 0.842);
  width: 100%;
  height: 100%;
}
.rounded-4 {
  border-radius: 0.5rem;
}
.rounded-5 {
  border-radius: 0.75rem;
}
.rounded-6 {
  border-radius: 1rem;
}

.modal-sheet .modal-dialog {
  transition: bottom 0.75s ease-in-out;
}
.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
}

.border-right {
  border-right: 1px solid #eee;
}

.btn-lg {
  margin-left: 0 !important;
}

.modal-body {
  padding: 20px !important;
}

.mb-4 {
  margin-top: 20px;
}

.sign-title {
  font-size: 25px;
}

.sign-options {
  display: flex;
  gap: 5px;
}

.sign-option-01 {
  background-color: #04aa6d;
}

.sign-option-02 {
  background-color: #065a3b;
}

#developer-sign {
  display: none;
}

#user-sign {
  display: none;
}
.mb-dv {
  display: block;
}

.select-file {
  font-family: monospace;
  font-size: 15px;
  border-color: black;
  border-width: 1px;
  height: 5%;
}

.upload-title {
  text-align: left;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: #04aa6d;
  padding: 5 5 5 10;
  border-radius: 10px;
  margin-right: 50%;
  color: white;
}

.p-info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;
  height: 110px;
  align-content: flex-start;
  justify-content: space-between;
  background-color: none !important;
}

.user-info-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-info {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-width: 0.5px;
  border-color: black;
  font-size: 13px;
}
.user-project-info {
  width: 50%;
}

.dev-sign-content {
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  align-content: flex-start;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-width: 2px !important;
  border-color: black !important;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px;
}
.user-sign-content {
  align-items: center;
  flex-direction: column;
  align-content: flex-start;
  height: 32%;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-width: 2px !important;
  border-color: black !important;
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

.project-info-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-responsive {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.submit-project {
  width: 50% !important;
  font-size: 16px;
  margin-top: 15px !important;
}

.media-list {
  text-align: left;
}

.media-list-sign {
  margin-left: 0px !important;
  padding-left: 0px;
}

.footer-text {
}

.btn-close {
  padding: 20px;
  position: absolute;
  right: 0;
  align-self: right !important;
  align-content: right !important;
}

.user-sign-content {
  text-align: left;
}

.sign-page-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sign-account {
  font-size: 14px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #04aa6d;
  border-radius: 5px;
  color: white;
}

.dash-board-chart {
  padding: 0 !important;
  margin: 0 !important;
}
