.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.signPage {
  border-radius: 10px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 78%;
  align-items: center;
  margin-top: 110px;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 150px !important;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 0%;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.753);
  width: 500px;
  height: 750px;
}
.rounded-4 {
  border-radius: 0.5rem;
}
.rounded-5 {
  border-radius: 0.75rem;
}
.rounded-6 {
  border-radius: 1rem;
}

.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom 0.75s ease-in-out;
}
.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
  width: 380px;
}

.border-right {
  border-right: 1px solid #eee;
}

.modal-tour .modal-dialog {
  width: 380px;
}

.btn-lg {
  margin-left: 0 !important;
}

.modal-body {
  padding: 20px !important;
}

.mb-4 {
  margin-top: 20px;
}

.sign-title {
  font-size: 25px;
}

.sign-options {
  display: flex;
  gap: 5px;
}

.sign-option-01 {
  background-color: #04aa6d;
}

.sign-option-02 {
  background-color: #065a3b;
}

#developer-sign {
  display: none;
}
