/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

* {
  margin: 0;
  padding: 0;
}
h3 {
  margin-top: 20px;
}
#app {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: -webkit-fill-available;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 15px;
  padding: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 5 px;
  align-items: stretch;
  width: 30%;
}
#map {
  height: 100%;
  width: 70%;
  top: 0;
  bottom: 0;
  margin-top: 0px;
  margin-right: 0;
  padding-right: 0;
}

/* CUSTOMIZE THE HEADER
-------------------------------------------------- */
.p-3 {
  display: flex;
  border-radius: 10px;
  background-color: #04aa6d !important;
  height: 60px;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

.nav-link:link:hover,
.px-2:link:hover,
.text-white:link:hover {
  font-weight: bold;
}
/* CUSTOMIZE THE INTRO
-------------------------------------------------- */
.project-intro {
  text-align: justify;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-top: 8px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 5px;
  z-index: 10;
  text-align: left;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 270px;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

.carousel-images {
  opacity: 0.5;
}

.carousel-text {
  font-size: 12px;
  margin: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-align: justify;
  background-color: rgba(143, 143, 143, 0.582);
  font-family: sans-serif;
}
/* Customize buttons */

.text-end {
  text-align: left !important;
}

.btn-primary:hover,
.btn-warning:hover {
  background-color: #ffffff;
  border-color: #1e2458;
  color: black;
}
.btn-primary,
.btn-warning {
  color: white;
  background-color: #1e2458;
  border-color: white;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 14px;
    line-height: 1.2;
  }

  .featurette-heading {
    font-size: 20px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* DROPDOWN MENU
-------------------------------------------------- */

.dropdown-menu {
  width: 140px;
}
.dropdown-item {
  font-size: 14px;
}
.dropdown-item:link:hover {
  background-color: #04aa6d;
  color: white;
  font-weight: bold;
}
/* NAVIGATION BUTTONS
-------------------------------------------------- */

.navigation-buttons {
  display: flex;
  align-items: stretch;
  gap: 10px;
  margin-bottom: 5px;
}

.nav-btn {
  width: 300px;
}

.btn-bcolor {
  border-radius: 10px;
  color: white;
  background-color: #1e2458;
}
.btn-bcolor:hover {
  background-color: #04aa6d;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.btn-c:hover {
  background-color: #ffffff;
  border-color: #1e2458;
  color: black;
  font-weight: bold;
}
.btn-c {
  width: 100px;
  color: white;
  background-color: #04aa6d !important;
  border-color: white;
  border-radius: 10px;
}
/* TOGGLE BUTTONS
-------------------------------------------------- */

.form-switch .form-check-input {
  width: 6.5em;
  height: 1em;
  justify-content: stretch;
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
  margin-bottom: 0px !important;
}

.form-switch .form-check-input:checked {
  background-position: right center;
}
.form-check-input:checked {
  background-color: #1e2458;
  border-color: #1e2458;
}

.form-check-label {
  font-weight: bold;
  align-items: center !important;
  justify-content: center !important;
  justify-self: center !important;
  padding-left: 0px !important;
  margin-left: -15px !important;
  margin-top: 1px;
  margin-bottom: 0px !important;
}

.form-check-input {
  border-width: 3px;
  border-color: #1e2458;
}
.form-check-input:hover {
  border-width: 3px;
  border-color: #04aa6d;
}
/* SLIDERS
-------------------------------------------------- */

.slidecontainer {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 20px;
  background: #04aa6d;
  cursor: pointer;
}

.slide-out {
  font-size: 15px;
  display: flex;
  align-self: center;
  width: 30px;
  color: #1e2458;
  padding: 0px !important;
  margin-left: 10px;
  font-family: sans-serif;
  font-weight: bold;
}

.sliders-tab {
  margin-top: 10px;
  margin-bottom: 10px;
}

.feed-form {
  margin-bottom: 12px;
  display: flex;
  height: 100px;
  gap: 10px;
}

/* MAPBOX
-------------------------------------------------- */
.mapboxgl-ctrl-pitchtoggle-3d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
}

.mapboxgl-ctrl-pitchtoggle-2d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font-size: 10px;
  font-family: sans-serif;
  padding: 0;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.form-control .input-group-text {
  width: 5;
  font-size: 14px;
  font-family: sans-serif;
  word-wrap: break-all;
}
