/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
h3 {
  margin-top: 0px;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0px;
  background-color: #cccccc;
  font-size: 16px;
}
textarea:checked {
  border-color: white !important;
}

#app {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 0px;
  padding: 10px;
}

  
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-left: 10px;
}
#map {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  margin-top: 0px;
  margin-right: 0;
  padding-right: 0;
  border-radius: 20px;
  margin-bottom: 1% !important;
}

/* CUSTOMIZE THE HEADER
-------------------------------------------------- */
.logo {
  font-size: 30px;
}

.utt-logo {
  font-family: monospace !important;
  align-self: center;
  font-size: 40px;
  font-weight: bolder;
}
.side-title {
  color: black;
  font-weight: lighter;
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  margin-left: 15%;
  padding: 10px;
  border-radius: 10px;
}

.bg-secondary .side-title .badge {
  background-color: none;
}
.bg-secondary {
  background-color: rgba(255, 255, 255, 0) !important;
}

.p-3 {
  display: flex;
  border-radius: 0px;
  background-color: #04aa6d !important;
  height: 60px;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

.sign-button {
  top: 15px;
  background: transparent;
  border: none;
}
#wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 25%;
}

.not-toggled {
  padding-left: 5% !important;
}

#sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  left: 25%;
  width: 0;
  padding-top: 0%;
  height: 100%;
  margin-left: -25%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f8f8f8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.top-logo {
  display: flex;
  align-items: center !important;
}

#wrapper.toggled #sidebar-wrapper {
  width: 25%;
}

#page-content-wrapper {
  display: flex !important;
  flex-direction: column;
  width: 100%;
}

.top-nav-btn {
  display: flex;
  gap: 20px;
}

.navigation-buttons {
  font-size: 22px;
  padding: 25px;
  padding-left: 5;
  cursor: pointer;
  position: absolute;
  /* top: 50px;
  left: 50px; */
  top: 55px;
  left: -70%;
}

#p1-aerial {
  font-weight: bold;
  background-color: #04aa6d;
}

#p1-aerial:hover {
  background-color: #642a66;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
  background-color: rgba(255, 255, 255, 0.822) !important;
  padding: 0;
}

.btn-second {
  color: white;
  background-color: #04aa6d;
  padding: 6px;
  border-radius: 10px;
  border-color: white;
}

.btn-second:hover {
  background-color: rgb(4, 195, 125);
  font-weight: bold;
}
.sidebar-nav {
  margin-top: 5px;
}

/*       side-toggle-Cross         */
/*-------------------------------*/

.side-toggle {
  margin-top: 0.5%;
  margin-bottom: 0.5%;

  display: flex;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.side-toggle:hover,
.side-toggle:focus,
.side-toggle:active {
  outline: none;
}
.side-toggle.is-closed:before {
  content: "";
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}
.side-toggle.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}

.side-toggle.is-closed .hamb-top,
.side-toggle.is-closed .hamb-middle,
.side-toggle.is-closed .hamb-bottom,
.side-toggle.is-open .hamb-top,
.side-toggle.is-open .hamb-middle,
.side-toggle.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.side-toggle.is-closed .hamb-top,
.side-toggle.is-closed .hamb-middle,
.side-toggle.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.side-toggle.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all 0.35s ease-in-out;
}
.side-toggle.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.side-toggle.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all 0.35s ease-in-out;
}

.side-toggle.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all 0.35s ease-in-out;
}
.side-toggle.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all 0.35s ease-in-out;
}
.side-toggle.is-open .hamb-top,
.side-toggle.is-open .hamb-middle,
.side-toggle.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.side-toggle.is-open .hamb-top,
.side-toggle.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.side-toggle.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}
.side-toggle.is-open .hamb-middle {
  display: none;
}
.side-toggle.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}
.side-toggle.is-open:before {
  content: "";
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}
.side-toggle.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}

/* CUSTOMIZE CARDS
-------------------------------------------------- */
.btn-lg {
  color: white !important;
}
.btn-lg:hover {
  color: rgb(0, 0, 0) !important;
}
.card-text {
  font-size: 12px;
  text-align: justify;
}

.side-card {
  margin: 0 15 15 15;
}
#sidebar-wrapper {
  display: flex;
  flex-direction: row;
}
/* CUSTOMIZE THE INTRO
-------------------------------------------------- */

.project-intro {
  color: #cccccc;
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 5px;
  text-align: justify;
  margin-bottom: 20px;
}

.score-first-title {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-top: 12px;
  margin-bottom: 12px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 5px;
  z-index: 10;
  text-align: left;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 200px;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

.carousel-images {
  opacity: 0.5;
}

.carousel-text {
  font-size: 12px;
  margin: 10px;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-align: justify;
  background-color: rgba(143, 143, 143, 0.582);
}
/* Customize buttons */

.text-end {
  text-align: left !important;
}

.btn-primary:hover,
.btn-warning:hover {
  background-color: #ffffff;
  border-color: #192483;
  color: black;
}
.btn-primary,
.btn-warning {
  color: white;
  background-color: #000000;
  border-color: white;
  border-radius: 15px !important;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 14px;
    line-height: 1.2;
  }

  .featurette-heading {
    font-size: 20px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* DROPDOWN MENU
-------------------------------------------------- */

.dropdown-menu {
  width: 140px;
}
.dropdown-item {
  font-size: 14px;
}
.dropdown-item:link:hover {
  background-color: #04aa6d;
  color: white;
  font-weight: bold;
}
/* NAVIGATION BUTTONS
-------------------------------------------------- */

#p1-aerial {
  float: left;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation-buttons {
  display: flex;
  align-items: stretch;
  gap: 10px;
  margin-bottom: 5px;
  margin-left: 71.5%;
}

.nav-btn {
  font-family: monospace;
  font-size: 18px;
  width: 100px;
}

.btn-bcolor {
  border-radius: 10px;
  color: white;
  background-color: #642a66;
}
.btn-bcolor:hover {
  background-color: #04aa6d;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.btn-c:hover {
  background-color: #ffffff;
  border-color: #04aa6d;
  color: black;
  font-weight: bold;
}
.btn-c {
  width: 100px;
  color: white;
  background-color: #04aa6d !important;
  border-color: white;
  border-radius: 10px;
}
/* TOGGLE BUTTONS
-------------------------------------------------- */

.form-switch {
  display: flex !important;
  background-color: #642a66;
  padding-right: 5px;
  border-radius: 10px;
  padding-top: 2px;
  flex-direction: column !important;
}

.form-check-input {
  width: 4.5em;
  height: 1em;
  justify-content: stretch;
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
  margin-bottom: 0px !important;
  border-color: #04aa6d;
}
.btn-sign {
  width: 500px;
}

.btn-lg {
  align-self: center;
  text-align: center;
  justify-self: center;
  text-justify: center;
  margin-left: -30px !important;
  margin-top: 0px !important;
  border-radius: 15px;
}
.form-check-input:checked {
  background-position: right center;
  border-color: #04aa6d;
}
.form-check-input:checked {
  background-color: #04aa6d;
  border-color: #04aa6d;
}

.form-check-label {
  display: block;
  font-weight: normal !important;
  color: white;
  font-size: 18px;
  align-items: center !important;
  justify-content: center !important;
  justify-self: center !important;
  margin-left: -5px !important;
  margin-top: 2px;
  margin-bottom: 0px !important;
}

.home-btn {
  color: white;
}

.home-btn:hover {
  color: white;
}
.form-check-input {
  border-width: 3px;
}
.form-check-input:hover {
  border-width: 3px;
  border-color: #04aa6d;
}
/* SLIDERS
-------------------------------------------------- */

.slidecontainer {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #04aa6d;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 0.5;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 20px;
  background: #04aa6d;
  cursor: pointer;
}

.slide-out {
  font-size: 15px;
  display: flex;
  align-self: center;
  width: 30px;
  color: #ffffff;
  padding: 2px !important;
  margin-left: 10px;
}

.sliders-tab {
  margin-top: 10px;
  margin-bottom: 10px;
}

.feed-form {
  margin-bottom: 12px;
  display: flex;
  flex-shrink: stretch;
  height: 100px;
  gap: 10px;
}

/* MAPBOX
-------------------------------------------------- */
.mapboxgl-ctrl-pitchtoggle-3d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
}

.mapboxgl-ctrl-pitchtoggle-2d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
}

.mapboxgl-popup-close-button {
  display: none;
  size: 20px;
  font-size: 40px;
  margin: 5px;
  margin-top: 15px;
}

.pop-link {
  display: block;
  color: white;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  text-align: center;
  justify-self: right;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  margin-right: 0px;
  text-decoration: none !important;
}

.pop-link:hover {
  color: #04aa6d !important;
  font-style: normal;
  text-decoration: none !important;
}

.mapboxgl-popup-content {
  background: none;
  font-size: 12px;
  line-height: 14px;
  text-align: justify;
  padding: 5px;
  max-width: 250px;
}

.mapboxgl-popup-content-wrapper {
  padding: 5;
  margin: 5px;
  border-radius: 20px;
}

.form-control .input-group-text {
  width: 5;
  font-size: 12px;
  overflow-y: auto;
  overflow-x: auto;
}

.form-control {
  font-size: 12px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.region-popup .mapboxgl-popup-content {
  color: rgb(255, 255, 255);
  font-weight: normal !important;
  background-color: #bb9b88 !important;

  box-shadow: none;
}

.region-popup .mapboxgl-popup-tip {
  display: none;
}

/* TESTIMONIALS SECTION
-------------------------------------------------- */
.section-testimonials {
  display: none;
  border-radius: 10px;
  position: fixed;
  top: 0;
  right: 0;
  width: 22%;
  height: 85.5%;
  background-color: #fdf2e9;
  align-items: center;
  margin-top: 4%;
  margin-right: 3.5%;
  margin-bottom: 150px !important;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 0%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f8f8f8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-image: linear-gradient(to bottom, #4b2c4c, #151f28);
}

.subheading {
  display: block;
  background-color: #4b2c4c;
  color: white;
  padding: 5 3 3 15;
  border-radius: 10px;
  margin-top: 20px !important;
  margin-bottom: 25px !important;
  font-size: 1.3rem;
}
.testimonials-container {
  padding: 30px;
}

.testimonials {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 10px;
  column-gap: 10px;
}

.testimonial {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 5px;
  justify-content: flex-start !;
}

.testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.testimonial-text {
  color: #cccccc;
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 5px;
  text-align: justify;
}

.testimonial-name {
  font-size: 14px;
  color: #6f6f6f;
  margin-bottom: 5px !important;
}

/* SCROLL BAR 
-------------------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 17px;
  cursor: pointer !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #04aa6d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #036e47;
}

.project-title {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}

/* HIDDEN DIVS
-------------------------------------------------- */

#nav-wrapper-p1 {
  display: none;
}
#nav-wrapper-p2 {
  display: none;
}
#nav-wrapper-p3 {
  display: none;
}

#sign-wrapper {
  display: none;
}

#hidden-comment {
  display: none;
}

/* COMMENT PANEL
-------------------------------------------------- */
.img-circle {
  background-color: white;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 20px;
}

.comment-panel {
  padding: 0 !important;
  margin: 0 !important;
}

.comment-container {
  padding: 5px;
}

.panel-heading {
  color: white;
  margin-top: 0 !important;
  padding: 0 !important;
}

.media-list {
  padding-left: 0;
}

.user-text {
  color: #cccccc;
}

.btn-info {
  margin-bottom: 20px;
}
